<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>website</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome to About page</p>

    {{> footer}}
  </body>
</html>
